fastapi
uvicorn[standard]

python-dotenv
pydantic
pydantic-settings
sentence-transformers

langchain
langgraph
langchain-groq
langchain-text-splitters

langchain-openai
langchain-google-genai

chromadb

python-multipart

pypdf

tiktoken

httpx